In [1]:
import numpy as np
from numpy import round
from numpy.linalg import eig
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
def PCA(X, k):
    #centering each column by subtracting mean of each column from each data point
    X_centered = X.sub(X.mean())

    #calculating covariance matrix of centered data points
    covariance_matrix = X_centered.cov()

    #calculating eigen values and eigen vectors of the covariance matrix
    evalues, evectors = eig(covariance_matrix)

    #sorting the eigen values in ascending order and accordingly, the eigen vectors
    sorted_indices = np.argsort(evalues)[::-1]

    evalues = evalues[:k]

    evectors = evectors[:,sorted_indices]
    
    selected_indices = sorted_indices[:k]
    
    #selecting top k eigen vectors
    evectors = evectors[:,:k]
    
    #projecting the data onto the selected eigen vectors
    X_reduced = X_centered @ evectors

    #creating a data frame from the selected columns
    selected_columns = X.columns[selected_indices]
    print(selected_columns)
    
    X_reduced_df = pd.DataFrame(X_reduced)
    
    
    return X_reduced_df, evectors

In [3]:
iris_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
iris_df.columns = ['X1', 'X2', 'X3', 'X4', 'Label']
iris_df.head()

    X1   X2   X3   X4        Label
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
X = iris_df[iris_df.columns[:-1]]
y = iris_df[iris_df.columns[-1]]

In [5]:
X_reduced_df, evectors = PCA(X, 3)
X_reduced_df.head()

Index(['X1', 'X2', 'X3'], dtype='object')

          0         1         2
0 -2.684207 -0.326607 -0.021512
1 -2.715391  0.169557 -0.203521
2 -2.889820  0.137346  0.024709
3 -2.746437  0.311124  0.037672
4 -2.728593 -0.333925  0.096230